In [1]:
import numpy as np
import pandas as pd

In [2]:
import pandas as pd
save_path = "/data/zyang/datasets/ml-1m/"
# trai.to_pickle(save_path+"train_ood2.pkl")
train_ = pd.read_pickle(save_path+"train_ood2.pkl")
valid_ = pd.read_pickle(save_path+"valid_ood2.pkl")
test_ = pd.read_pickle(save_path+"test_ood2.pkl")

In [3]:
user_info = train_.groupby('uid').agg({"label":'count'})
user_info.shape
train_user = np.array(list(user_info.index))

In [4]:
user_info.quantile(0.2)

label    5.0
Name: 0.2, dtype: float64

In [5]:
user_info = user_info[user_info.label>3] 
user_info.shape

(635, 1)

In [6]:
item_info = train_.groupby('iid').agg({"label":'count'})
item_info.shape

train_item = np.array(list(item_info.index))

In [7]:
item_info.describe()

             label
count  3087.000000
mean     10.978620
std      12.641559
min       1.000000
25%       2.000000
50%       6.000000
75%      15.000000
max     154.000000

In [8]:
item_info.quantile(0.3),item_info.shape

(label    3.0
 Name: 0.3, dtype: float64,
 (3087, 1))

In [9]:
item_info = item_info[item_info.label>3] 
item_info.shape

(2058, 1)

In [10]:
warm_user = np.array(list(user_info.index))
warm_item = np.array(list(item_info.index))

In [11]:
warm_user.shape, warm_item.shape, train_user.shape, train_item.shape

((635,), (2058,), (740,), (3087,))

In [12]:
test_['warm'] = test_[['uid','iid']].apply(lambda x: x.uid in warm_user and x.iid in warm_item, axis=1).astype("int")
test_['cold'] = test_[['uid','iid']].apply(lambda x: x.uid not in train_user and x.iid not in train_item, axis=1).astype("int")

In [13]:
test_.shape

(7331, 11)

In [14]:
test_.head()

,uid,iid,label,timestamp,his,his_title,title,flag,not_cold,warm,cold
97,4,96,1,1040544350,"[0, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 50...","[, Star Wars: Episode IV - A New Hope (1977), ...",Deconstructing Harry (1997),1.0,1,1,0
98,4,97,1,1040544350,"[0, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 50...","[, Star Wars: Episode IV - A New Hope (1977), ...",Indecent Proposal (1993),1.0,1,1,0
99,4,98,0,1040544494,"[0, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 50...","[, Star Wars: Episode IV - A New Hope (1977), ...",Big Daddy (1999),1.0,1,1,0
100,4,99,1,1040544521,"[0, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 50...","[, Star Wars: Episode IV - A New Hope (1977), ...",But I'm a Cheerleader (1999),1.0,1,1,0
101,4,100,1,1040544564,"[0, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 50...","[, Star Wars: Episode IV - A New Hope (1977), ...",Desperately Seeking Susan (1985),1.0,1,1,0

In [15]:
test_[['not_cold','warm','cold']].describe()

          not_cold         warm         cold
count  7331.000000  7331.000000  7331.000000
mean      0.566498     0.480426     0.003547
std       0.495592     0.499651     0.059452
min       0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000
50%       1.000000     0.000000     0.000000
75%       1.000000     1.000000     0.000000
max       1.000000     1.000000     1.000000

In [16]:
test_.to_pickle(save_path+"test_warm_cold_ood2.pkl")

In [17]:
7331*0.003547

26.003057

In [18]:
save_path+"test_warm_cold_ood2.pkl"

'/data/zyang/datasets/ml-1m/test_warm_cold_ood2.pkl'